* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 70vh;
}
#home {
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#about {
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1555532538-dcdbd01d373d?q=80&w=1928&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#vision {
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#hobbies {
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#contact {
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 180px;
}

.logo {
  color: orange;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}
.navbar {
  display: none;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
  list-style-type: none;
  padding-right: 80px;
}
a {
  text-decoration: none;
  color: azure;
}

.header-text {
  height: 500px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: antiquewhite;
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
}
.copyRight {
  color: aliceblue;
}
hr {
  margin: 0;
  padding: 0;
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 50px;
  height: 500px;
  gap: 100px;
}
.myHistory {
  padding-top: 50px;
  align-self: normal;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.myPhotoye {
  width: 50vw;
  padding: 10px;
  margin-right: 100px;
}
figcaption {
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.visionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 50px;
}
.myVision {
  padding: 80px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.visionPhoto {
  width: auto;
  padding: 10px;
}
.hobbiesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 50px;
  height: 500px;
  gap: 50px;
}
.myHobbies {
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.myHobbies ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.theSchedules {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
th {
  background-color: rgb(205, 155, 155);
  border: 5px solid rebeccapurple;
}
td {
  background-color: grey;
  border: 5px solid black;
}
tr {
  width: 300px;
  height: 60px;
}

.myHobbies ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}
.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  padding: 50px;
  gap: 50px;
}
.contactInfo {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
}
#fname {
  width: 400px;
  height: 50px;
}
#lname {
  width: 400px;
  height: 50px;
}
#text {
  width: 400px;
  height: 200px;
}
#fname::placeholder,
#lname::placeholder,
#text::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 0;
}
#submit {
  background-color: #7f837f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 25px;
  align-self: center;
}

i {
  width: 40px;
  height: 40px;
}
